body {
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}


.h1 {
    color: #007bff;
    text-align: center;
    margin-bottom: 30px;
}

.table-container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    overflow-x: auto;
}


.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    color: #212529;
}


.thead-tn tr {
    background-color: #3498db;
    color: #ffffff;
    text-align: left;
}


.table th,
.table td {
    padding: 12px 15px;
    border: 1px solid #dee2e6;
    white-space: normal;
    vertical-align: top;
}


.description-cell {
    max-width: 300px;
    word-wrap: break-word;
    text-align: justify;
}


.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    text-align: center;
}
.div.no-details-message {
    background-color: #e2e3e5;
    color: #383d41;
    border: 1px solid #d6d8db;
}